html {
    background: #282828;
    color: #FFFFFF;
}

/****************************
 * Lists
 ****************************/

#listsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

.list {
    width: 700px;
    background: #1E1E1E;
    margin-right: 20px;
    padding: 20px;
}

.listTitle {
    margin-top: 0;
    margin-bottom: 0;
    color: #61dafb;
}

.listDesc { margin-top: 5px; }

.tasksTitle {
    margin-top: 30px;
    color: #61dafb;
}

/****************************
 * Tasks
 ****************************/

/* Task */
.task {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: #1E1E1E;
    padding: 10px;
}
.task:hover { background: #0e0e0e; }

.task.priority1 { font-size: 1em; }
.task.priority2 { font-size: 0.9em; }
.task.priority3 { font-size: 0.8em; }

/* Task check */
.taskCheck { padding: 0 10px 0 0; }

/* Task content */
.taskHead {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.taskTitle { margin: 0; }
.task.done .taskTitle { color: #5fb70b }

.taskCreation {
    font-size: 0.7em;
    margin: 0 0 0 10px;
    color: #757575;
}
.task.done .taskCreation { color: #3a750a }

.taskDesc { margin: 0 0 0 0; }
.task.done .taskDesc { color: #5fb70b }

.taskDeadline {
    font-size: 0.9em;
    margin: 0;
    color: #ca3232;
}