.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

table{
  border:solid thin rgba(0, 0, 0, 0.281);
  border-radius: 5%;
  margin-left: 5%;
}

